body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    background-color: aquamarine;
}
.maincontent {
    flex: 1;
}

.login-container{
    margin-top: 100px;
    margin-right: 30%;
    margin-left: 30%;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
    padding: 0px 40px 0px 40px;
}

.login{
    padding-top:20px;
}
.btn{
    margin-bottom:20px;
    text-align:center;
    
}

.card-img-top{
    height: 350px;
    object-fit: contain; /*keeps the whole product visible*/
    padding: 20px;
    background-color: lightgrey;
}

.card{
    transition: transform 0.2s ease-in-out, shadow 0.2s;
    border: none;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)!important;
}

.card-title{
    font-size: 1.1rem;
    font-weight: 600;
}
